<! -- sidebar.html -->

<div id="contact-list" class="text-center">
	<ul class="list-unstyled">
		{% if site.author.twitter %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-custom fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.google-plus %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="https://plus.google.com/{{ site.author.google-plus }}">
				<i class="fa fa-custom fa-google-plus fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}">
				<i class="fa fa-custom fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-custom fa-github fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-custom fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn-custom btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-custom fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<! -- sidebar.html end -->
